html {
  height: 105.4%;
}

body {
  background-image: linear-gradient(#2a6592, #fcf7f7, #fcf7f7);
  /* /* background-image: url(../pictures/reel3.jfif); */
  background-position: 0%;
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  /* background-color: #004d40; */
  /* height: 100vh; */
}

.column-1 {
  width: 25%;
  border-right: 1px solid #000;
  display: inline-table;
  padding-bottom: 35%;
  background-color: #7e9a9a;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  opacity: 0.6;
  /* min-height: 100vh; */
    /* height: auto !important; */
    /* height: 100%; */
}

.column-2 {
  width: 75%;
  border-left: 1px solid #000;
  line-height: 2em;
  display: inline-table;
  padding-bottom: 35%;
  background-color: #8ec3eb;
  background-image: linear-gradient(#8ec3eb, #fcf7f7);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  opacity: 1;
  border-left: 1px solid rgba(0,0,0,.1);
  color: rgba(0,0,0,.5)
  /* min-height: 100vh; */
    /* height: auto !important; */
    /* height: 600px; */
  }
  
nav {
  background-color: transparent;
}

.close-button {
  text-align: right;
}

.card-action {
  padding: 5px 25px !important;
}

.card-image{
  max-width: 115px;
  float: left;
  padding:10px 10px 10px 0px;
}

.card-image .card-content{
  display: inline-block;
}

.card-content {
  padding: 15px 25px 10px 5px !important;
  margin-left: 10px;
  color: darkslategray;
}

#results-card-holder {
  margin-left: 25px;
  width: 90%;
}

.actor-filter {
  width: 200px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 0px;
}

.chip {
  margin-right: 0px !important;
}

#logout {
  margin-top: 80px;
}

#login_btn{
  margin-top: 80px;
  margin-left: 80px;
  background-color: transparent;
}

#login_btn:hover {
  background-color: #7ac6ff99;
}

.loginForm {
  padding: 60px;
  color: black;
}

.loginForm label, .loginForm  {
  color: black;
}